/Guia_12_Extra_2/nbproject/private/
/Guia_12_Extra_2/build/
/Guia12Extra3/nbproject/private/
/Guia12Extra3/build/
/Guia12Extra3/dist/
/Guia12Extra3Arreglado/nbproject/private/
/Guia12Extra3Arreglado/build/
